<button type="button" class="btn btn-primary" (click)="openModal(template)">Add Msg Using HeroService</button>

<ng-template #template>
 <div class="modal-header">
   <h4 class="modal-title pull-left">Add Message</h4>
   <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
   <input ([value])="message" #message placeholder="message">
   <button type="button" class="btn btn-primary" (click)="addMessage(message.value)">Add</button>
 </div>
</ng-template>